<div class="col-12 col-sm-10 py-3">
    <p class="fw-bold">
        Moje komentáre
    </p>
    <ul class="list-group list-group-flush">
        <li n:foreach="$comment as $myComment" class="list-group-item">
            {control userComment-$myComment->id}
        </li>
    </ul>
</div>
