
<div class="container">
    <div class="row g-2">
        <div n:foreach="$clanky as $clanok" class="col-4">
            <div class="card bg-light h-100">
                <div class="card-body">

                    {control clanokMriezkaPolozkaMultiple-$clanok->id}

                </div>
            </div>
        </div>
    </div>
</div>
