<!doctype html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  title is set as subject of email message -->
    <title>Bol pridany novy clanok</title>
</head>
<body>
    <h2>
        Bol pridany novy clanok na vasej stranke.
    </h2>
    <p> Bol prave pridany clanok s nazvom
        <a n:href="Post:show $id">
            {$title}
        </a>
    </p>
</body>
</html>