{block content}
    <p class="fw-bold">
        Články od ostatných používateľov
    </p>
    {control filterPostForm}
    <hr>
    <p class="fw-bold">
        Články zoradené podľa statusu
    </p>
    <div class="row">
        <div class="col-12 mb-3" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item my-1" n:foreach="$posts as $post">
                   <a href="{plink Post:show $post->id}" class="nav-link d-inline">
                       {$post->title}
                   </a>
                    <span class="badge text-bg-light border border-success float-center d-inline">
                        {match($post->status){
                        0 => 'návrh',
                        1 => 'rozpracovaný',
                        2 => 'uverejnený',}}
                    </span>
                    <span class="float-end">
                        {$post->created_at}
                    </span>
                </li>
            </ul>
        </div>
    </div>
{/block}
