{block content}
    <div class="row" n:snippet="OtherPost">
        <div class="col-12 my-3" n:foreach="$getOtherPosts as $post">
            {control item-$post->id}
        </div>
    </div>
{/block}