<!-- Delete Comment Form -->

<form n:name="form">
    <div class="mb-3">
        <input n:name="id" type="hidden" class="form-control" id="id" aria-describedby="emailHelp">
    </div>
    <div class="modal-footer">
        <button n:name="send" type="submit" class="btn btn-danger">Odstrániť komentár</button>
    </div>
</form>
