
{snippet OtherPost}
    <form n:name="form" class="ajax">
        <div class="col-3">
            <label for="exampleInputEmail1" class="form-label">Kategória</label>
            <select n:name="category" class="form-select" aria-label="Default select example">
            </select>
        </div>
        <button type="submit" class="btn btn-sm btn-success mt-3">
            <i class="bi bi-search"></i> Zobraziť
        </button>
    </form>
{/snippet}
