    <div class="card border-0 rounded-0 h-100 position-relative" style="min-height: 450px;">

        <img src="{$baseUrl}/img/02.jpg" class="card-img-top rounded-0" alt="...">

        <div class="card-body rounded-0 bg-primary bg-opacity-75 text-light">

            <div style="min-height: 150px;">
                <a href="{plink Post:show $post->id}" class="text-decoration-none text-light"> <!-- odkaz na presenter:akciu $parameter -->
                    <h4 class="fw-bold">
                        {$post->title}</span>
                    </h4>
                </a>
                <span class="small">
                    {$post->created_at|date:'d.m.Y, h:i'}
                </span>
            </div>




            <p class="card-text position-absolute bottom-1 start-3">
                <!-- {$post->content|truncate: 90} -->
                <a href="" class="border-0 rounded-3 text-light">
                    <i class="bi bi-arrow-right-circle h1"></i>
                </a>
            </p>

        </div>
    </div>
