{snippet consumption}

<div n:foreach="$consumptions as $consumption" class="row mb-5 pb-5 g-2">

    {* the name after the hyphen is always a string *}
    {control consumtionsGridItemMultiple-$consumption->id}

</div>

{/snippet}

