{block content}
    <div class="container" style="height: 100vh;">
        <div class="row h-100">
            <div class="col-12 h-50">
                <h3 class="fw-bold my-5 text-success">
                    Overenie vašej e-mailovej adresy bolo úspešné.
                </h3>
            </div>
        </div>
    </div>
{/block}