{snippet consumption}

<div n:foreach="$consumptions as $consumption" class="row mb-5 pb-5 g-2">

    {* nazov za pomlckou je vzdy retazec *}
    {control consumtionsGridItemMultiple-$consumption->id}

</div>

{/snippet}

